<!DOCTYPE html>
<html>
<head>
	<title>display page</title>
</head>
<body>
<table>
	<tr>
		<th>Name</th>
		<th>LastName</th>
		<th>Age</th>
		<th>Email</th>
		<th>Password</th>
		<th>Confirm Password</th>
		<th>DOB</th>
		<th>Gender</th>
		<th>Selected Gender</th>
		<th>Selected Language</th>

	</tr>

		<tr>
			<td>{{new.name}}</td>
			<td>{{new.lastname}}</td>
			<td>{{new.age}}</td>
			<td>{{new.email}}</td>
			<td>{{new.pw}}</td>
			<td>{{new.cpw}}</td>
			<td>{{new.DOB}}</td>
			<td>{{new.gender}}</td>
			<td>{{new.select_gender}}</td>
			<td>{{new.select_lang}}</td>
		</tr>
</table>
</body>
</html>