{% extends 'newApp/base.html'%}
{% block title %} Registration {% endblock %}
{% block content %}
<div class="container">
  <div class="jumbotron col-md-8 mx-auto mt-4">
    <h2 class="bg-dark text-white text-center mx-2 my-2 p-2 md-2">This is Registration Page page</h2><br/>
    <form method="POST">
    	{% csrf_token %}
    	<table class="table table-borderless">
    		{% for i in form %}
    		<tr>
    			<td>{{i}}</td>
    		</tr>
    		{% endfor %}
    	</table>
    	<input type="submit" value="Subscribe" class="btn btn-success btn-block mb-3">
    </form>
  </div>
</div>
{% endblock %}
