button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  width: 50%;
  cursor: pointer;
 
}

input[type=text], input[type=password] {
  width: 50%;
  padding: 10px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}
form
{
  margin-left: 30%;
    margin-top: 10%;
    margin-right: 30%;
    background-color: lightseagreen;
    border-radius: 30px;
    padding: 30px;
}