{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
		p
		{
			background-color: red; 
			padding:23px;
			margin-right: 200px;
			margin-left: 200px;
		}
	</style>
	<link rel="stylesheet" type="text/css" href="{% static 'css/sample.css'%}">
</head>
<body>
	<h2>this is samle page</h2>
	<h2>inline css</h2>
	<p style="background-color: blue;color: white;padding: 30px;margin-right: 230px;margin-left: 230px;font-size:45px;">this is sample</p>
	<p> this is paragraph</p>
	<h4 style="background: -color:green;color:red; padding:70px">this is demo</h4>
	<h2>Internal Styles</h2>
</body>
</html>