{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>User details page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
<div class="container">
<div class="card col-md-6 mt-5">
<div class="card-body">
<h3 class="bg-primary text-center p-3 border rounded"> User Details</h3>
<p>Entered firstname is: <span class="text-danger">{{name}}</span><br>
<p>Entered firstname is: <span class="text-danger">{{lastname}}</span><br>
<p>Entered age is: <span class="text-danger">{{age}}</span><br>
<p>Entered email is: <span class="text-danger">{{email}}</span><br>
<p>Entered password is: <span class="text-danger">{{pw}}</span><br>
<p>Entered cpassword is: <span class="text-danger">{{cpw}}</span><br>
<p>Entered date of birth is: <span class="text-danger">{{DOB}}</span><br>
<p>Entered Gender is: <span class="text-danger">{{select_gender}}</span><br>
<p>Entered language is: <span class="text-danger">{{select_lang}}</span><br>

</div>
</div>
 </div>
</body>
</html>